extends base

block postStyles
    link(rel='stylesheet', href='/public/css/about.css')

block content

    h3 Go to
    ul
        li
            a(href='#people').item People
        li
            a(href='#additional_sources').item Additional sources
        li
            a(href='#cite').item How to cite
    -
        var baseUrl = "/public/images/";
        var people = [
            {
                name: "Christian Dallago",
                image: baseUrl+"christian_dallago.jpg",
                title: "Lead software developer",
                description: "Project initiator and maintainer",
                webpage: "https://christian.dallago.us",
                email: "christian.dallago@tum.de"
            },
            {
                name: "Klaus Niedermair",
                image: baseUrl+"klaus_nie.jpg",
                title: "Software developer",
                description: "Project contributor and maintainer",
                webpage: "https://github.com/KlausNie",
                email: "klaus.niedermair007@gmail.com"
            },
            {
                name: "Chris Soon Heng Tan",
                image: baseUrl+"chris_soon_heng_tan.jpg",
                title: "Advisor",
                description: "Role",
                webpage: "https://www.a-star.edu.sg/imcb/Science/Scientific-Services/Scientific-Services-Profile/ResearchListID/1162",
                email: ""
            },
            {
                name: "Burkhard Rost",
                image: baseUrl+"burkhard_rost.jpg",
                title: "Advisor",
                description: "Role",
                webpage: "https://rostlab.org",
                email: "assistant@rostlab.org"
            }
        ];
    .people#people
        h1 People
        each person in people
            .ui.card
                .image
                    img(src=person.image)
                .content
                    .header=person.name
                    .meta
                        span.date=person.title
                    .description=person.description
                .extra.content
                    a(href=person.webpage, target="_blank")
                        i.address.card.icon
                    a(href="mailto:"+person.email)
                        i.envelope.icon
    .additional-sources#additional_sources
        | This website makes use of external data source to enable users to discover relationships between proteins easily.
        | Please, consider citing these source if they are relevant to your publication (find "how to cite" on respective webpages).
        -
            var externalDataSources = [
                {
                    name: "HIPPIE",
                    type: "Protein-protein interaction",
                    link: "http://cbdm-01.zdv.uni-mainz.de/~mschaefer/hippie"
                },
                {
                    name: "CORUM",
                    type: "Protein complexes data",
                    link: "http://mips.helmholtz-muenchen.de/corum"
                }
            ];

        ul.value
            li
                a(href='', target="_blank").item HIPPIE, protein-protein interaction data.
            li
                a(href='', target="_blank").item HIPPIE, protein-protein interaction data.


    .cite#cite
        a(href=`http://science.sciencemag.org/content/early/2018/02/07/science.aan0346` target="_blank") Chris Soon Heng Tan & colleagues

block settings
    .divider
    a(href='/').item Search protein
    a(href='/bulkSearch').item Search list of proteins
    a(href='/complexes').item Search Complex
    a(href='/experiments').item Search Experiments
    a(href='/analyze-proteins').item Analyze

block scripts
    - var delta = 50
